@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{


.navlink{
    @apply p-2 text-lg m-2 text-white hover:text-zinc-300
    text-zinc-400
 
 }

 /* ++++++++++++  login ++++++++++++++++ */

 .login{
   @apply flex justify-center items-center  bg-gray-300 rounded-lg  p-12 
         flex-wrap h-full sm:mt-24
         xs:mt-10

         
 }

 .loginInput{
    @apply border border-gray-900 rounded-lg bg-slate-100 
             h-8 p-2 min-w-full
            outline-none   border-transparent  focus:border-transparent focus:ring-0 
         focus-visible:border-blue-400
 }

 .btn{
    @apply mt-2 p-2 pl-5 pr-5 justify-center bg-green-500 rounded-lg text-sm text-white shadow-lg
        hover:drop-shadow-lg hover:text-gray-200 
        focus:bg-green-700
        
 }

 /* ++++++++++++  signup ++++++++++++++++ */

 .signUp{
   @apply flex justify-center items-center  bg-gray-300 rounded-lg  p-12 
         flex-wrap h-full sm:mt-24
         xs:mt-10
 }
 .signUpInput{
   @apply border border-gray-900 rounded-lg bg-slate-100 
   h-8 p-2 w-40 
  outline-none   border-transparent  focus:border-transparent focus:ring-0 
focus-visible:border-blue-400
    
   xs:mb-5
   
 }

 /* ++++++++++++  create post ++++++++++++++++ */
 .createPost{
   @apply block  bg-gray-800 border rounded-2xl 
         lg:ml-80 lg:mr-80 lg:mt-14 lg:mt-10 p-8 
         sm:ml-24 sm:mr-24 sm:mt-10 

 }
 .createPostInput{
  @apply  rounded-xl  w-full p-4 pl-4 pr-4 text-lg 
       outline-none 
      border-transparent  focus:border-transparent focus:ring-0 
 }

 .CreatePostFeildText{
   @apply text-2xl flex justify-center text-zinc-400 font-semibold

 }

 /* ++++++++++++  Home ++++++++++++++++ */
#postContainer{
   @apply m-20 rounded-lg shadow-xl p-5 
         lg:ml-60 lg:mr-60
         sm:ml-20 sm:mr-20
         xs:ml-5 xs:mr-5
}

}

